@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>User List</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>UserName</th>
        <th>Mail</th>
        <th>Phone Number</th>
        <th>Delete</th>
        <th>Edit</th>
        <th>Comments</th>
        <th>Reservation History</th>
        

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name @item.SurName</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td><a href="/Admin/User/DeleteUser/@item.Id" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="/Admin/User/EditUser/@item.Id" class="btn btn-outline-success">Edit</a></td>
            <td><a href="/Admin/User/CommentsUser/@item.Id" class="btn btn-outline-info">Comments</a></td>
            <td><a href="/Admin/User/ReservationUser/@item.Id" class="btn btn-outline-secondary">Reservation History</a></td>
        </tr>
    }
</table>

<a href="/Admin/User/AddUser" class="btn btn-outline-primary">New User</a>