@using EntityLayer.Concrete
@model List<Reservation>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Location</th>
        <th>Number of people</th>
        <th>Reservation Date</th>
        <th>Situation</th>

    </tr>
    @{
        int i = 1;
        foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@Html.DisplayFor(modelItem => item.Destination.Ctiy)</td>
                <td>@Html.DisplayFor(modelItem => item.PersonCount)</td>
                <td>@Html.DisplayFor(modelItem => item.ReservationDate)</td>
                <td>@Html.Raw(item.Status)</td>
            </tr>
            i++;
        }
    }
</table>